 @-webkit-keyframes ldio-shl37mscv59 {
   0% {
     transform: rotate(0deg)
   }

   50% {
     transform: rotate(180deg)
   }

   100% {
     transform: rotate(360deg)
   }
 }

 @keyframes ldio-shl37mscv59 {
   0% {
     transform: rotate(0deg)
   }

   50% {
     transform: rotate(180deg)
   }

   100% {
     transform: rotate(360deg)
   }
 }

 .ldio-shl37mscv59 div {
   position: absolute;
   -webkit-animation: ldio-shl37mscv59 1s linear infinite;
   animation: ldio-shl37mscv59 1s linear infinite;
   width: 160px;
   height: 160px;
   top: 45%;
   left: 45%;
   transform: translate(-20%, -20%);
   border-radius: 50%;
   box-shadow: 0 4px 0 0 #af4d12;
   transform-origin: 80px 82px;

 }

 .loadingio-spinner-eclipse-q6n36tedzpc {
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   height: 100%;
   /* display: inline-block; */
   overflow: hidden;
   background: #4a423c;
 }

 .ldio-shl37mscv59 {
   width: 100%;
   height: 100%;
   position: relative;
   transform: translateZ(0) scale(1);
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   transform-origin: 0 0;
 }

 .ldio-shl37mscv59 div {
   box-sizing: content-box;
 }